<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Sign Up - Hermes Messenger System</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Register and Log In</a>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div th:if=${param.success}>
                <div class="alert alert-info">You have successfully registered to the application</div>
            </div>

            <h1>Sign up</h1>
            <form th:action="@{/register}" method="post" th:object="${users}">

                <div class="form-group">
                    <label class="control-label" for="username">Username : </label> <input
                        id="username" class="form-control" th:field="*{username}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Name : </label> <input
                        id="name" class="form-control" th:field="*{name}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="last_name">Last Name : </label> <input
                        id="last_name" type="form-control" class="form-control" th:field="*{last_name}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="identification_number">ID Number : </label> <input
                        id="identification_number" type="form-control" class="form-control" th:field="*{identification_number}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="address">Address : </label> <input
                        id="address" type="form-control" class="form-control" th:field="*{address}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="city">City : </label> <input
                        id="city" type="form-control" class="form-control" th:field="*{city}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="state">State : </label> <input
                        id="state" type="form-control" class="form-control" th:field="*{state}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="country">Country : </label> <input
                        id="country" type="form-control" class="form-control" th:field="*{country}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="zip_code">Zip-Code : </label> <input
                        id="zip_code" type="form-control" class="form-control" th:field="*{zip_code}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">Password : </label> <input
                        type="password" id="password" class="form-control" th:field="*{password}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>If you are registered <a th:href="@{/login}">log in here</a></span>
                </div>
            </form>

        </div>
    </div>
</div>


<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>